---
import First from "@/components/First.astro";
import Second from "@/components/Second.astro";
import Third from "@/components/Third.astro";
import Footer from "@/components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<div>
  <section id="home" class="min-h-screen flex items-center justify-center">
    <First  />
  </section>

  <section id="about-me" class="min-h-screen md:pt-5 lg:pt-5">
    <Second/>
  </section>

  <section id="proyects">
    <Third/>
    <h1 class="text-center font-europagrotesk text-xl sm:text-3xl md:text-5xl lg:text-7xl pt-10">
      Proyects.
    </h1>

  </section>

  <section id="footer">
    <Footer/>
  </section>
    
</div>

<style>
  .text-color-red {
    background-image: linear-gradient(0deg, #872341 0%, #6a1e95 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

</style>
