---

---
<div class="flex flex-col items-center px-4">
    <h1 class="text-center font-europagrotesk text-xl sm:text-3xl md:text-5xl lg:text-7xl mb-10">
        About me.
    </h1>
    <a class="font-exo text-md sm:text-md md:text-xl lg:text-2xl 
         transition-all duration-500 text-purple-700 max-w-xl mb-8">
            Hi there :D, I'm Alejandro Anona, a Fullstack Developer passionate about creating functional and beatiful web applications. 
            
            
    </a>
    <a class="font-exo text-md sm:text-md md:text-xl lg:text-2xl 
        transition-all duration-500 text-purple-700  max-w-xl">
        With experience in technologies like React, Astro, Node.js, Django, JavaScript, among others. I'm always looking for new challenges and opportunities to grow as a professional.
    </a>
</div>
