---

---

<h1
  class="text-center font-europagrotesk text-xl sm:text-3xl md:text-5xl lg:text-7xl pt-20 sm:pt-10 md:pt-10 lg:pt-10 text-purple-900"
>
  About me.
</h1>


<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-10 sm:mt-10 md:mt-10 lg:mt-10"
>
  <div class="p-3 order-2 sm:order-2 lg:order-1">
    <h3 class="text-lg sm:text-xl md:text-2xl font-exo text-white">
      Technologies I work with:
    </h3>
    <ul class="font-exo text-white space-y-2 list-disc list-inside">
      <li>
        <span class="font-semibold">Frontend</span>
        <ul class="list-disc list-inside pl-6">
          <li class="text-sm sm:text-base md:text-lg">Astro</li>
          <li class="text-sm sm:text-base md:text-lg">TailwindCSS</li>
          <li class="text-sm sm:text-base md:text-lg">React</li>
          <li class="text-sm sm:text-base md:text-lg">JavaScript</li>
          <li class="text-sm sm:text-base md:text-lg">HTML5</li>
          <li class="text-sm sm:text-base md:text-lg">CSS</li>
        </ul>
      </li>
      <li>
        <span class="font-semibold">Backend</span>
        <ul class="list-disc list-inside pl-6">
          <li class="text-sm sm:text-base md:text-lg">Python</li>
          <li class="text-sm sm:text-base md:text-lg">Django</li>
          <li class="text-sm sm:text-base md:text-lg">Flask</li>
          <li class="text-sm sm:text-base md:text-lg">Fortran 90</li>
          <li class="text-sm sm:text-base md:text-lg">Java</li>
          <li class="text-sm sm:text-base md:text-lg">C++</li>
        </ul>
      </li>
      <li>
        <span class="font-semibold">Software</span>
        <ul class="list-disc list-inside pl-6">
          <li class="text-sm sm:text-base md:text-lg">Linux</li>
      </li>
    </ul>
  </div>

  <div
    class="col-span-1 sm:col-span-2 lg:col-span-3 flex flex-col items-center px-4 p-3 order-1 sm:order-1 lg:order-2"
  >
    <a
      class="font-exo text-md sm:text-md md:text-xl lg:text-2xl
             transition-all duration-500 max-w-3xl mb-8"
    >
      Hello, I'm Alejandro, an expert in Electronics and Digital Devices with experience in web development 
      and innovative technology solutions. I'm passionate about transforming complex ideas into functional and efficient products.
    </a>
    
  </div>
</div>

<style>
  .react-color {
    color: #58c4dc;
  }
  .node-color {
    color: #53a144;
  }
  .django-color {
    color: #0c4b33;
  }
</style>
